@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    width: 1250px;
}
header{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 0px 4px gray;
    margin-bottom: 5px;
    position: fixed;
    z-index: 2;
}
.container{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 53px;
    height: 36px;
    background-image: url(../images/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    background-position: -462px 0px;
}
nav{
    width: 515px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #282c3f;
    font-size: 14px;
    font-weight: 700;
}
.search-section{
    width: 320px;
    height: 40px;
    padding: 10px;
    background: #f5f5f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 5px;

} 
.search-section input{
    width: 100%;
    height: 100%;
    background: #f5f5f6;
    border: none;
    outline: none;
    font-size: 15px;
}
.icons{
    width: 194px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons>div>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 700;
    font-size: 12px;
}
section{
    width: 1250px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}
.item img{
    width: 290px;
    height: 100%;
}
picture{
    width: 1250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner img {
    width: 630.667px;
    height: 237.89;
}
.brand img{
    margin-top: -30px;
    width: 550px;
}
.brandmid{
    margin-top: -40px;
}
.brandmid img{
    width: 210px;
}
.coupon img{
    width: 1254px;
}
.couponcode{
    width: 1200px;
    display: flex;
    align-items: center;
}
.couponcode img{
    width: 630px;
    height: 130px;
}
.winter{
    width: 1200px;
}
.winter img{
    width: 1250px;
}
.winterpro{
    width: 1260px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winterpro img{
    width: 430px;
    height: 200px;
}
.omgdeals img{
    padding-top: 30px;
    width: 1250px;
}
.omgproducts{
    display: flex;
    justify-content: center;
    align-items: center;
}
.omgproducts img{
    width: 210px;
    height: 280px;
}
.categorycart img{
    width: 1250px;
    padding-top: 40px;

}
.cartproduct{
    width: 1250px;
    display: flex;
}
.cartproduct img{
    width: 270px;
    height: 270px;
    display: flex;
}
.cartproduct2{
    width: 1250px;
    display: flex;
}
.cartproduct2 img{
    width: 270px;
    height: 270px;
    display: flex;
}
.playstore img{
    width: 1250px;
}
footer{
    width: 1250px;
    background: #FAFBFC;
}
.footermain{
    width: 1150px;
    height: 430px;
    margin: auto;
    background: #FAFBFC;
}

.footerfirst{
    float: left;
    width: 175px;
    display: inline-block;
    vertical-align: top;
}
.footerfirst h3{
    width: 100%;
    padding-left: 20px;
    color: #282c3f;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}
.footerfirst ul li{
    padding-left: 20px;
    list-style: none;
    padding-bottom: 5px;
    color: #696b79;
    font-size: 14px; 
}
.footersecond{
    float: left;
    width: 175px;
    display: inline-block;
    vertical-align: top;
}
.footersecond h3{
    width: 100%;
    padding-left: 20px;
    color: #282c3f;
    padding-top: 20px;
    padding-bottom: 20px; 
    font-size: 14px;  
}
.footersecond ul li{
    padding-left: 20px;
    list-style: none;
    padding-bottom: 5px;
    color: #696b79;
    font-size: 14px; 
}
.footerthird{
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    width: 360px;
    font-size: 15px;
    line-height: 19px;
    float: left;
}
.footerthird h5{
    width: 100%;
    padding-left: 20px;
    color: #282c3f;
    padding-top: 20px;
    padding-bottom: 20px; 
}
.footerthird ul li{
    padding-left: 20px;
    list-style: none;
    padding-bottom: 5px;
    color: #696b79;
}
.play-store{
    height: 47px;
    display: inline-block;
}
.keeptouch{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 20px;
    padding-left: 20px;
}
.social-links img{
    margin: 5px;
}
.footerfourth{
    float: left;
    width: 360px;
    display: inline-block;
    vertical-align: top;
    height: 430px;
}
.fourth{
    width: 100%;
    padding-top: 25px;
    display: flex;
}
.fourth p{
    margin: 5px;
    color: #696b79;
}
.fourth b{
    font-weight: 700;
    color: #000;
}
.popular{
    width: 1150px;
    margin-top: 20px;
}
.popular p{
    position: absolute;
    margin-top: -15px;
    background: #fafbfc;
    padding-left: 70px;
    color: #282c3f;
    font-size: 12px;
    font-weight: 700;
}
.searches{
    margin-top: 40px;
    height: 131px;
    color: #696b79;
    padding-left: 70px;
    font-size: 16px;
    line-height: 25px;
}
.Contact{
    padding-left: 70px;
    color: #696b79;
}
.Contact a{
    color: #526cd0;
    text-decoration: none;
    font-weight: 700;
}
.allright{
    flex: 1;
    color: #94969f;
    margin-left: 200px;
}
.contatcmin{
    width: 1150px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Flipkart{
    padding-left: 70px;
    color: #696b79;
}
.index-container{
    margin: 30px 0;
    padding: 20px 0 0;
    border-top: 1px solid #eaeaec;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    padding-left: 70px;
}
.Registered{
    font-weight: 700;
    color: #282c3f;
}
.indexinfo-container{
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    display: flex;
}
.indexinfo-address{
    width: 70%;
    display: inline-block;
    color: #94969f;
}
.legal-info{
    width: 30%;
    display: inline-block;
    color: #94969f;
    margin-top: 50px;
}
.legal-info a{
    color: #526cd0;
    font-weight: bold;
}
.footercontent{
    line-height: 18px;
    color: #94969f;
    font-size: 14px;
    border-top: 1px solid #eaeaec;
    margin: 15px 0 0;
    padding-left: 70px;
    line-height: 20px;
}
.footercontent strong{
    color: #535766!important;
}
.footercontent h1{
    margin-bottom: 5px;
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
}
.footercontent h3{
    margin-bottom: 5px;
    margin-top: 30px;
}
.footercontent ul li{
    margin-left: 40px;
    margin-top: 10px;
}
.jdjks{
    margin-top: 10px;
}
.rhfkdf{
    color: #535766;
}
.rhfkdf p{
    color: #94969f;
}
.ewfje h3{
    color: #535766;
}
.kjklkl h3{
    color: #535766;
}
.sdfsd{
    color: #535766;
}
.sdfsd p{
    color: #94969f;
}
.banner-men img{
    width: 100%;
}
section{
    width: 100%;
    margin: auto;
}
.biggestcont h4{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 2.4px;
    font-size: 28.8px;
    margin: 50px 0 10px 30px;
    max-height: 80px;
    font-weight: 700;   
}
.text-banner{
    margin-top: 0;
    font-weight: 400;
    line-height: 16px;
    max-height: 48px;
    color: #7e818c;
    margin-bottom: 50px;
}
.container-first{
    width: 1150px;
    height: 196px;
    margin: auto;
    display: flex;
}
.container-p-1{
    display: flex;
    flex-direction: column;
}
.container-p-1 img{
    width: 295px;
    padding-right: 30px;
}
.container-second{
    width: 1150px;
    height: 700px;
    margin: auto;
    display: flex;
}
.container-p-2 img{
    width: 295px;
    padding-right: 30px;
    padding-top: 235px;
}
.category-bag{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 25px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;   
}
.image-image{
    height: auto;
    width: 1150px;
    transition: all .2s ease-in-out;
    margin-left: 40px;
    display: flex;
}
.image-image img{
    width: 170px;
    height: 190px;
    margin: 15px;
}
.brands-products{
    width: 1150px;
    padding-left: 40px;
    padding-top: 30px;
    display: flex;
}
.brands-products img{
    width: 200px;
    height: 100%;
    margin: 15px;
}
.myntraluxe{
    width: 1150px;
    padding-left: 40px;
    padding-top: 30px;
    display: flex;
}
.myntraluxe img{
    width: 163px;
    margin: 15px;
}
.indian-trending{
    width: 1150px;
    padding-left: 40px;
    padding-top: 30px;
    display: flex;
}
.indian-trending img{
    width: 200px;
    margin: 15px;
}
.banner-women img{
    width: 100%;
    margin-top: 100px;
}
.container-women-first{
    width: 1150px;
    height: 147px;
    margin: auto;
    display: flex;
}
.container-women-1{
    display: flex;
    flex-direction: column;
}
.container-women-1 img{
    width: 235px;
    padding-right: 30px;
}
.container-women-second{
    width: 1150px;
    height: 147px;
    margin: auto;
    display: flex;
}
.container-women-2{
    display: flex;
    flex-direction: column;
}
.container-women-2 img{
    width: 235px;
    padding-right: 30px;
    padding-top: 180px;
}
.category-bag-women{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 2.4px;
    font-size: 28.8px;
    margin: 420px 0 10px 30px;
    max-height: 80px;
    font-weight: 700;  
}
.image-image-women{
    height: auto;
    width: 1150px;
    transition: all .2s ease-in-out;
    margin-left: 40px;
    display: flex;
    margin-top: 20px;
}
.image-image-women img{
    width: 170px;
    height: 190px;
    margin: 15px;
}
.banner-kids img{
    width: 100%;
    margin-top: 40px;
}
.mega-menu-container{
    width: 1130px;
    height: 460px;
    background: #fff;
    box-shadow: 2px 2px 2px gray;
    position: absolute;
    top: 80px;
    left: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
}
.first-mega-border{
    width: 140px;
    height: 1px;
    background-color: #eaeaec;
    margin: 12px 0px 12px 0px;
}
.menu:hover .mega-menu-container{
    opacity: 1;
    visibility: visible;
}
.menu:hover .studio-box{
    opacity: 1;
    visibility: visible;
}
.menu:hover .Profile{
    opacity: 1;
    visibility: visible;
}
.box{
    width: 228px;
    height: 460px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.box h5{
    color: #ee5f73;
    font-weight: 700;
    font-size: 14px;
    font-family: sans-serif;
    padding: 20px 0px 5px 39px;
    text-align: justify;
}
.box ul li{
    list-style: none;
    padding: 1px 20px 5px 40px;
    font-size: 13px;
    font-weight: normal;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box ul li:hover{
    font-weight: 600;
    cursor: pointer;
}
.colour-men:hover{
    border-bottom: 3px solid #ee5f73;
}
.colour-women:hover{
    border-bottom: 3px solid #fb56c1;
}
.colour-kids:hover{
    border-bottom: #f26a10 3px solid;
}
.colour-home:hover{
    border-bottom: 3px solid #f2c210;
}
.colour-beauty:hover{
    border-bottom: 3px solid #0db7af;
}
.colour-studio:hover{
    border-bottom: 3px solid #fb56c1;
}
.colour-profile:hover{
    border-bottom: 3px solid #ef5166;
}
.women h5{
    color: #fb56c1;
    font-weight: 700;
    font-size: 14px;
    font-family: sans-serif;
    padding: 20px 0px 5px 39px;
    text-align: justify;
}
.kids h5{
    color: #f26a10;
    font-weight: 700;
    font-size: 14px;
    font-family: sans-serif;
    padding: 20px 0px 5px 39px;
    text-align: justify;
}
.home h5{
    color: #f2c210;
    font-weight: 700;
    font-size: 14px;
    font-family: sans-serif;
    padding: 20px 0px 5px 39px;
    text-align: justify;
}
.beauty h5{
    color: #0db7af;
    font-weight: 700;
    font-size: 14px;
    font-family: sans-serif;
    padding: 20px 0px 5px 39px;
    text-align: justify;
}
.studio-box{
    width: 545px;
    height: 430px;
    background: #fff;
    box-shadow: 2px 2px 2px gray;
    position: absolute;
    top: 80px;
    left: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    margin: auto;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
}
.studio-logo{
    width: 100px;
    height: 40px;
    margin: auto;
}
.middle-img img{
    width: 514px;
    height: 274px;
    margin: 22px 16px 0px 15px;
}
.studio-box p{
    width: 288px;
    height: 8px;
}
.studio-box a{
    border: 1px solid #d4d5d8;
    background-color: #fff;
    border-radius: 2px;
    margin: 16px 176px 15px 174px;
    gap: 8px;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 164px;
    height: 40px;
}
.Profile{
    width: 300px;
    height: 400px;
    background: #fff;
    box-shadow: 2px 2px 2px gray;
    position: absolute;
    top: 80px;
    left: 930px;
    display: flex;
    padding: 20px 20px 20px 20px;
    transition: 0.6s;
    visibility: visible;
    opacity: 1;
    margin: auto;
    flex-direction: column;
    float: left;
    opacity: 0;
    visibility: hidden;
}
.Profile h5{
    color: #3e4152;
    font-size: 14px;
}
.Profile p{
    color: #3e4152;
    font-size: 14px;
}
.login-button{
    color: #ef5166;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #d4d5d8;
    background-color: #fff;
    border-radius: 2px;
    gap: 6px;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 140px;
    height: 40px;
    margin-top: 10px;
}
.login-button:hover{
    border: 1px solid #ff3f6c;
}
.border{
    width: 100%;
    height: 0.5px;
    background: #d4d5d8;
    margin-top: 10px;
}
.New{
    background-color: #ff3f6c;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
}
.Profile ul li{
    list-style: none;
    color: #535766;
    font-size: 14px;
    margin-top: 7px;
}
.Profile ul li:hover{
    font-weight: 700;
}
.login-background{
    width: 100%;
    height: 600px;
    background: #ffeaed;
}
.login-main{
    width: 400px;
    height: 100%;
    margin: auto;
    /* border: 2px solid red; */
    margin-top: 20px;
    background: #fff;
}
.login-main img{
    width: 400px;
    height: 160px;
}
.login-sign{
    color: #3e4152;
    margin-top: 30px;
    margin-left: 30px;
}
.login-sign span{
    font-weight: 700;
    font-size: 20px;
}
.number-box{
    width: 300px;
    height: 40px;
    border: 1px solid #d4d5d8;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7e818c;
}
.border-login{
    width: 1.3px;
    height: 15px;
    background-color: #d4d5d8;
    margin-left: 10px; 
}
.number-box input{
    outline: none;
    border: none;
    width: 200px;
    margin-left: 15px;
}
.number-box span{
    font-size: 14px;
    color: #94969f;
    font-weight: 500;
}
.term-line{
    color: #535766;
    font-size: 12px;
    margin-top: 15px;
    font-weight: 400;
    width: 300px;
}
.term-line span{
    color: #ff3f6c;
    font-size: 12px;
}
.continue{
    width: 300px;
    height: 40px;
    background: #ff3f6c;
    color: #fff;
    margin-top: 25px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wishlist{
    width: 100%;
    height: 800px;
    background-color: #fff;
    flex-direction: column;
}
.login-wish{
    font-weight: 700;
    font-size: 18px;
}
.wishlist span{
    color: #94969f;
    margin-top: 20px;
    font-size: 18px;
}
.wish-image{
    background: url(../images/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    width: 96px;
    height: 105px;
    background-position: -1163px 0;
    margin-top: 40px;
}
.loginbox-wish{
    border: 1px solid blue;
    width: 150px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: #526cd0;
    font-weight: 700;
    font-size: 18px;
}
.ico{
    width: 44px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ico>div>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 700;
    font-size: 12px;
}
.bag-cont{
    color: #20bd99;
    border-bottom: 2px solid #20bd99;
    letter-spacing: 2px;
    font-weight: 500;
}
.bag-main{
    width: 322px;
    height: 22px;
}
.dash-bag{
    border: 1px dashed #696b79;
}
.address{
    font-weight: 500;
    letter-spacing: 2px;
}
.icon-bag{
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-bag img{
    flex-direction: column
}
.secure{
    letter-spacing: 2px;
    color: #696b79;
    font-size: 14px;
}
.bag-middle{
    width: 100%;
    position: absolute;
    top: 150px;
    flex-direction: column;
}
.bag-img img{
    width: 146px;
    height: 165px;
    margin: auto;
}
.light{
    font-weight: 700;
    color: #424553;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}
.bag-line{
    font-weight: 400;
    color: #7e818c;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}
.button-bag{
    background: #fff;
    color: #ff3f6c;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #ff3f6c;
    padding: 10px;
    border-radius: 2px;
    letter-spacing: 1px;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}
.footer-bag{
    width: 1000px;
    height: 50px;
    position: absolute;
    top: 700px;
    left: 100px;
    background-color: #fff;
    margin: auto;
}
.images-bag img{
    width: 60px;
    height: 37px;
}
.bag-contact{
    float: right;
    color: #282c3f;
    font-size: 14px;
    padding: 10px 0px;
    font-weight: 600;
}
.section{
    width: 1150px;
    flex-direction: column;
}
.home-banner img{
    width: 1150px;
    margin: 20px auto;
}
.home-bed{
    width: 810px;
    height: 1360px;
    position: relative;
    cursor: pointer;
}
.home-1heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 2.8px;
    font-size: 30px;
    margin: 50px 0 10px 30px;
    max-height: 80px;
    font-weight: 700;
    text-align: left;
    position: absolute;
    top: 0px;
    left: -160px;
}
.home-bed-furnishing{
    width: 820px;
    height: 300px;
    position: absolute;
    top: 170px;
    left: -170px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.home-bed-furnishing img{
    width: 400px;
    height: 305px;
    transition: 0.5s;
}
.home-bed-1:hover img{
    transform: scale(1.04);
}
.home-bed-2:hover img{
    transform: scale(1.04);
}
.home-art-1:hover img{
    transform: scale(1.04);
}
.home-art-2:hover img{
    transform: scale(1.04);
}
.home-kitchen-1:hover img{
    transform: scale(1.04);
}
.home-kitchen-2:hover img{
    transform: scale(1.04);
}
.home-art-lamps{
    width: 820px;
    height: 300px;
    position: absolute;
    top: 550px;
    left: -170px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.home-art-lamps img{
    width: 400px;
    height: 305px;
    transition: 0.5s;
}
.home-kitchen-bath{
    width: 820px;
    height: 300px;
    position: absolute;
    top: 920px;
    left: -170px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.home-kitchen-bath img{
    width: 400px;
    height: 305px;
    transition: 0.5s;
}
.home-bed-right{
    width: 200px;
    weight: 1340px;
    position: relative;
    left: 100px;
    float: right;
}
.furnishing-content{
    width: 100%;
    height: 240px;
    color: #3e4152;
    font-size: 15px;
}
.first{
    padding-top: 15px;
}
.furnishing-content p{
    margin-bottom: 5px;
}
.bath-content{
    width: 100%;
    height: 165px;
    color: #3e4152;
    font-size: 15px;
}
.bath-content p{
    margin-bottom: 5px;
}
.home-content{
    width: 100%;
    height: 360px;
    color: #3e4152;
    font-size: 15px;
}
.home-content p{
    margin-bottom: 5px;
}
.lamp-content{
    width: 100%;
    height: 190px;
    color: #3e4152;
    font-size: 15px;
}
.lamp-content p{
    margin-bottom: 5px;
}
.kitchen-content{
    width: 100%;
    height: 275px;
    color: #3e4152;
    font-size: 15px;
}
.kitchen-content p{
    margin-bottom: 5px;
}
.Organisers-content{
    width: 100%;
    height: 90px;
    color: #3e4152;
    font-size: 15px;
}
.Organisers-content p{
    margin-bottom: 5px;
}
.get-inspired{
    background-color: rgb(239, 237, 237);
}
.get-inspired img{
    width: 1260px;
}
.wedding-images{
    width: 1100px;
    height: 450px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.wedding-images img{
    width: 360px;
    height: 380px;
    transition: 0.4s;
}
.wedding:hover img{
    transform: scale(1.04);
}
.season-white:hover img{
    transform: scale(1.04);
}
.handcrafted:hover img{
    transform: scale(1.04);
}
.feature-brands img{
    width: 100%;
}
.feature-brands-logo{
    width: 100%;
    height: 250px;
    display: flex;
}
.swayam img{
    width: 208px;
    height: 135px;
}
.updated img{
    width: 208px;
    height: 135px;
}
.bedbath img{
    width: 208px;
    height: 87px;
}
.m-s img{
    width: 208px;
    height: 135px;
}
.decor img{
    width: 208px;
    height: 125px;
}